ipykernel
jupyter
notebook
python-dotenv

numpy
pandas
tqdm

sentence-transformers
torch
transformers
datasets
accelerate

faiss-cpu
scikit-learn

pypdf
arxiv
beautifulsoup4
lxml

langchain-text-splitters

groq

matplotlib
seaborn
umap-learn